.stats-second-box > div {
  margin: 0 0.5rem;

  @include media-breakpoint-down(sm) {
    & :nth-child(3) {
      font-size: 0.9rem;
    }
  }
}

.list-style-none {
  list-style: none;
}

.li-number {
  width: 1rem;
}
