.keyboard-btn {
  flex: 1;
  height: 56px;
  margin: 0.25rem 0.125rem;
  font-size: 1rem;

  @include media-breakpoint-up(xl) {
    font-size: 1.1rem;
  }

  &.notInPuzzle,
  &.inPlace,
  &.inPuzzle {
    transition: 0.7s all cubic-bezier(1, 0, 1, 0);
  }
}
