/* make the customizations */

$notInPuzzle: #adadad;
$inPuzzle: #dec915;
$inPlace: #5db40a;
$customGrey: #bebebe;

$secondary: #e7e5e5;
$success: $inPlace;
$tooltip-bg: $customGrey;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

/* import Icons*/
@import 'bootstrap-icons/font/bootstrap-icons.css';
