@import './bs_custom.scss';
@import './features/header/header.scss';
@import './features/gamefield/gamefield.scss';
@import './features/keyboard/keyboard.scss';
@import './features/banners/language/language_banner.scss';
@import './features/banners/rules/rules_banner.scss';
@import './features/banners/statistics/statistics_banner.scss';

body {
  font-family: 'Jost', sans-serif;
}

// Themes ***********************************************************
.dark {
  background: #6b6b6b;
  color: #fff;
}

.light {
  background: #fff;
}

.container-fluid {
  transition: background-color 0.4s ease;
}

// Colorize keyboard and gamefield **********************************
.notInPuzzle {
  background-color: $notInPuzzle !important;
  border: 2px solid $notInPuzzle;
}

.inPuzzle {
  background-color: $inPuzzle !important;
  border: 2px solid $inPuzzle;
}

.inPlace {
  background-color: $inPlace !important;
  border: 2px solid $inPlace;
}
