@import './custom.scss';

body * {
  transition: background-color 0.6s ease;
}

.mh-100vh {
  min-height: 100vh;
}

div.notInPuzzle,
div.inPuzzle,
div.inPlace {
  color: #fff !important;
  transform: rotateX(360deg);
  transition: 0.9s all;
}

button.notInPuzzle,
button.inPlace,
button.inPuzzle {
  transition: 0.7s all cubic-bezier(1, 0, 1, 0);
}

.notInPuzzle {
  background-color: $notInPuzzle !important;
  border: 2px solid $notInPuzzle !important;
}

.inPuzzle {
  background-color: $inPuzzle !important;
  border: 2px solid $inPuzzle !important;
}

.inPlace {
  background-color: $inPlace !important;
  border: 2px solid $inPlace !important;
}

.no-transform * {
  transform: none !important;
}

.keyboard-row {
  max-width: 500px;
}

.keyboard-btn {
  margin: 0.25rem 0.125rem;
  height: 56px;
  border: none !important;
  font-size: small;
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px;
}

.letter-field {
  max-height: 480px;
  max-width: 400px;
  width: 90%;
  margin: auto;
}

.letter-row {
  flex: 1;
}

.letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $customGrey;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  min-height: 37px;
}

.example-row {
  display: flex;
  gap: 0.3rem;
  max-width: 20rem;
}

.small-fs {
  font-size: 0.8rem;
}

.list-style-none {
  list-style: none;
}

.li-number {
  width: 1rem;
}

.header-icon {
  color: $customGrey;

  @media screen and (min-width: 1224px) {
    &:hover {
      cursor: pointer;
      border-bottom: 2px solid $customGrey;
      opacity: 60%;
    }
  }
}
