body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.notInPuzzle {
  background-color: #adadad !important;
  border: 2px solid #adadad !important;
}

div.notInPuzzle {
  transform: rotateX(360deg);
  transition: 0.9s all;
  color: #fff !important;
}

button.notInPuzzle {
  transition: 0.7s all cubic-bezier(1, 0, 1, 0);
}

.inPuzzle {
  background-color: #dec915 !important;
  border: 2px solid #dec915 !important;
}

div.inPuzzle {
  transform: rotateX(360deg);
  transition: 0.9s all;
  color: #fff !important;
}

button.inPuzzle {
  transition: 0.7s all cubic-bezier(1, 0, 1, 0);
}

.inPlace {
  background-color: #5db40a !important;
  border: 2px solid #5db40a !important;
}

div.inPlace {
  transform: rotateX(360deg);
  transition: 0.9s all;
  color: #fff !important;
}

button.inPlace {
  transition: 0.7s all cubic-bezier(1, 0, 1, 0);
}
