html {
  background-color: #fff !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.notInPuzzle {
  background-color: rgb(173, 173, 173) !important;
  border: 2px solid rgb(173, 173, 173) !important;
}

div.notInPuzzle {
  transform: rotateX(360deg);
  transition: 0.9s all;
  color: #fff !important;
}
button.notInPuzzle {
  transition: 0.7s all cubic-bezier(1, 0, 1, 0);
}

.inPuzzle {
  background-color: rgb(229, 206, 0) !important;
  border: 2px solid rgb(229, 206, 0) !important;
}

div.inPuzzle {
  transform: rotateX(360deg);
  transition: 0.9s all;
  color: #fff !important;
}

button.inPuzzle {
  transition: 0.7s all cubic-bezier(1, 0, 1, 0);
}

.inPlace {
  background-color: rgb(17, 157, 4) !important;
  border: 2px solid rgb(17, 157, 4) !important;
}

div.inPlace {
  transform: rotateX(360deg);
  transition: 0.9s all;
  color: #fff !important;
}

button.inPlace {
  transition: 0.7s all cubic-bezier(1, 0, 1, 0);
}
